<div>
    <form [formGroup]="epargneForm" (ngSubmit)="calculateEpargne()">

        <!-- Sélection du livret -->
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Type de Livret/Compte</label>
            <select formControlName="option" id="disabledSelect" class="form-select"
                (change)="updateCapitalxinterestRate($event)">
                <option value=10 name="LivretA">Livret A</option>
                <option value=15 name="LDDS">Livret de développement durable et solidaire (LDDS)</option>
                <option value=30 name="LEP">Livret d'épargne populaire (LEP)</option>
                <option value=225 name="PEL">Plan d'épargne logement (PEL)</option>
            </select>
            @if (epargneForm.get('option')?.hasError('required') && (epargneForm.get('option')?.touched ||
            formSubmitted)) {
            <div class="text-danger">Veuillez sélectionner un livret</div>
            }
        </div>

        <!-- Durée de placement -->
        <div class="mb-3">
            <div class="form-group">
                <label for="inputYears">Durée du placement :</label>
                <input formControlName="savingsDuration" type="number" min="0" max="20" class="form-control"
                    id="inputYears" placeholder="ans">
                @if (epargneForm.get('savingsDuration')?.invalid && (epargneForm.get('savingsDuration')?.touched ||
                formSubmitted)) {
                @if (epargneForm.get('savingsDuration')?.hasError('required')) {
                <div class="text-danger">Champs vide</div>
                }
                @if (epargneForm.get('savingsDuration')?.hasError('min')) {
                <div class="text-danger">La durée doit être au moins de 1 an</div>
                }
                @if (epargneForm.get('savingsDuration')?.hasError('max')) {
                <div class="text-danger">La durée ne doit pas dépasser 20 ans</div>
                }
                }
            </div>
        </div>

        <!-- Input montant du capital -->
        <div class="mb-3">
            <div class="form-group">
                <label for="inputCapital">Capital initial</label>
                <input formControlName="inputCapital" type="text" class="form-control" id="inputCapital" placeholder="€"
                    (input)="hideSavingsAmount($event)">
                @if (epargneForm.get('inputCapital')?.invalid && (epargneForm.get('inputCapital')?.touched ||
                formSubmitted)) {
                @if (epargneForm.get('inputCapital')?.hasError('required')) {
                <div class="text-danger">Champs vide</div>
                }
                @if (epargneForm.get('inputCapital')?.hasError('min')) {
                <div class="text-danger">Le capital doit être supérieur à {{ selectedOption }} €</div>
                }
                }
            </div>
        </div>

        <!-- Input montant du placement -->
        @if (showInput) {
        <div class="mb-3">
            <div class="form-group">
                <label for="inputSavingAmount">Montant épargné</label>
                <input formControlName="savingsAmount" type="text" class="form-control" id="inputSavingAmount"
                    placeholder="€">
                @if (epargneForm.get('savingsAmount')?.invalid && (epargneForm.get('savingsAmount')?.touched ||
                formSubmitted)) {
                @if (epargneForm.get('savingsAmount')?.hasError('required')) {
                <div class="text-danger">Champs vide</div>
                }
                }
            </div>
        </div>
        }

        <!-- Fréquence de versement -->
        @if (showInput) {
        <div class="mb-3">
            <label for="inputSavingAmount">Fréquence versement</label>
            <div>
                <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off"
                    (click)="selectSavingsFrequency('month')">
                <label class="btn" for="option5">Mois</label>

                <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off"
                    (click)="selectSavingsFrequency('years')">
                <label class="btn" for="option6">Année</label>
            </div>
            @if (formSubmitted && !optionFrequency) {
            <div class="text-danger">Sélectionnez au moins une option</div>
            }
        </div>
        }

        <button type="submit" class="btn btn-primary">Calculer</button>
    </form>
</div>