<div>

    <form [formGroup]="epargneForm" (ngSubmit)="calculateEpargne()">

        <!-- selection du livret  -->
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Type de Livret/Compte</label>
            <select id="disabledSelect" class="form-select" (change)="updateMinEpargne($event)">
                <option value=10>Livret A</option>
                <option value=10>Livret de développement durable et solidaire (LDDS)</option>
                <option value=30>Livret d'épargne populaire (LEP)</option>
                <option value=225>Plan d'épargne logement (PEL)</option>
            </select>
        </div>

        <!-- input montant du capital -->
        <div class="mb-3">
            <div class="form-group">
                <label for="inputCapital">Capital initial</label>
                <input formControlName="capital" type="text" class="form-control" id="inputCapital" placeholder="€">
            </div>
        </div>

        <!-- input montant du placement -->
        <div class="mb-3">
            <div class="form-group">
                <label for="inputSavingAmount">Montant épargné</label>
                <input formControlName="savingsAmount" type="text" class="form-control" id="inputSavingAmount" placeholder="€">
            </div>
        </div>

        <!-- mois/année check -->
        <div class="mb-3">
            <div>
                <input formControlName="month" type="radio" class="btn-check" name="options-base" id="option5"
                    autocomplete="off" checked>
                <label class="btn" for="option5">Mois</label>

                <input formControlName="years" type="radio" class="btn-check" name="options-base" id="option6"
                    autocomplete="off">
                <label class="btn" for="option6">Année</label>
            </div>
        </div>

        <!-- Durée de placement  -->
        <div class="mb-3">
            <div class="form-group">
                <label for="inputYears">Durée du placement :</label>
                <input formControlName="savingsDuration" type="number" min="0" max="20" class="form-control" id="inputYears" placeholder="ans">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Calculer</button>

    </form>

</div>